In [1]:
import mysql.connector

mysql_con.py

In [3]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
) 

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001428C6C51D0>

testkoneksi.py

In [4]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
) 

print(db)

if db.is_connected():
    print("berhasil terhubung ke database")

berhasil terhubung ke database

2.1 createdatabase.py

In [5]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
) 
mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE db_penjualan')
print("Database  dibuat")

Database  dibuat

2.2 showdatabase.py

In [7]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('db_penjualan',)
('geojson',)
('gis',)
('information_schema',)
('kampus',)
('mysql',)
('pdbase',)
('performance_schema',)
('perpustakaan',)
('sys',)

2.3 createtable.py

In [10]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE kategori(id int(9) primary key, name varchar(50))')
print("tabel berhasil dibuat")

tabel berhasil dibuat

2.4 showtable.py

In [11]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
mycursor.execute('desc kategori')

for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'YES', '', None, '')

3.1 insertdata.py

In [12]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
sql = "INSERT INTO kategori (id, name) VALUES (%s, %s)"
val = ("2", "Drinks")
mycursor.execute(sql, val)

mydb.commit()
print(mycursor.rowcount, "Data Berhasil Ditambahkan")

1 Data Berhasil Ditambahkan

3.2_insertdatamultip.py

In [14]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
sql = "INSERT INTO kategori (id, name) VALUES (%s, %s)"
val = ("3", "Drinks"), ("4", "Tepung")
mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, "Data Berhasil Ditambahkan")

2 Data Berhasil Ditambahkan

3.3_insertrow_getid.py

In [16]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
sql = "INSERT INTO kategori (id, name) VALUES (%s, %s)"
val = ("1", "Roti")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 0

4.1 viewkategori.py

In [18]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM kategori")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Roti')
(2, 'Drinks')
(3, 'Drinks')
(4, 'Tepung')

4.2 selectnameonly.py

In [19]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT name FROM kategori")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Roti',)
('Drinks',)
('Drinks',)
('Tepung',)

4.3_selectiononly.py

In [20]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM kategori")
myresult = mycursor.fetchone()

for x in myresult:
    print(x)

1
Roti

5.1_where.py

In [ ]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM kategori where id = '1'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

5_2_where2.py

In [22]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM kategori where id = %s"
no = ("1",)
mycursor.execute(sql, no)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Roti')

6_1_orderby.py

In [23]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM kategori ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(2, 'Drinks')
(3, 'Drinks')
(1, 'Roti')
(4, 'Tepung')

7_1_delete.py

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "DELETE FROM kategori where id = '4'"
mycursor.execute(sql)

mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

7_2_deleteinjec.py

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "DELETE FROM kategori where id = %s"
adr = ("3",)
mycursor.execute(sql, adr)

mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

8_1_update.py

In [5]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "UPDATE kategori SET name = 'Jelly' where id = '2'"
mycursor.execute(sql)

mydb.commit()
print(mycursor.rowcount, "record(s) Updated")

1 record(s) Updated

8_2_updateother.py

In [7]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_penjualan"
)

mycursor = mydb.cursor()
sql = "UPDATE kategori set name = %s where id = %s"
adr = ("Drinks", "2")
mycursor.execute(sql, adr)

mydb.commit()
print(mycursor.rowcount, "record(s) updated")

1 record(s) updated